{# src/charly/platformBundle/ressources/views/Advert/index.html.twig #}

{% extends "CHARLYPlatformBundle::layout.html.twig" %}

{% block title %} {{ parent()  }} - Accueil {% endblock %}


{% block charlyPlatform_body %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-danger" role="alert">Message Flash : {{ msg }}</div>
    {% endfor %}
    <h2>Liste des annonces !</h2>
    <section>
        <ul class="containAdvert" >

            {% for advert in listAdverts %}

                <li class="liAdvert" style="list-style-type: none; border: 1px solid darkslategray; margin-bottom: 20px; padding: 20px">

                    {% if advert.image.getUrl is defined %}<img src="{{ advert.image.getUrl }}" alt="{{ advert.image.getAlt }}" width="50px">{% endif %}
                    <a href={{ path('charly_platform_view',{'id': advert.id}) }}>
                        {{ advert.title }}
                    </a>
                    par {{ advert.author }},
                    Le {{ advert.date|date('d/m/Y') }}.
                </li>

        {% else %}
            <li class="liAdvert" style="border: 2px solid darkslategray; margin-bottom: 20px">Pas encore d'annonce en ligne <a href="{{ path('charly_platform_add') }}">Ajouter la votre</a></li>
        {% endfor %}
        </ul>
        <ul class="pagination">
        {%  for p in range(1, nbPages) %}
            <li{% if p == page %} class="active" {% endif%}>
                <a href="{{ path('charly_platform_homepage', {'page': p}) }}"> {{ p }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
