{# src/CHARLY/PlatformBundle/ressource/views/advert/view.html.twig #}

{% extends "CHARLYPlatformBundle::layout.html.twig" %}

{% block title %} Vue de l'annonce - {{ parent() }} {% endblock %}

{% block charlyPlatform_body %}

    <div>
        {% if advert.image is not null %}
            <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
        {% endif %}
        <div>
            <h2>{{ advert.title }}</h2>
                <cite>Par {{ advert.author }}, Le {{ advert.date|date('d/m/Y') }}</cite>
        </div>
    </div>
    <div class="well">

        {{ advert.content }}
    </div>
    <p>
        <a href="{{ path('charly_platform_homepage') }} " class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste des annonces
        </a>
        <a href="{{ path('charly_platform_edit', {'id': advert.id})  }} " class="btn btn-danger">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('charly_platform_delete', {'id': advert.id})  }} " class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Suprimer l'annonce
        </a>
    </p>
{% endblock %}