{# src/CHARLY/NewsBundle/Ressources/views/News/fluxRss.html.twig #}

<h6> {{ flux.title }} </h6>
<blockquote>
    <p>{{ flux.description|raw }} </p>
    <cite>{{ flux.link }} </cite>
</blockquote>

<ul id="containNew">
        {% if limit > 0 %}
                {% for new in flux.item if limit %}

                    <li class="alert alert-secondary" role="alert" style="display: flex">
                        <div>
                            <a href="{{ path('charly_news_view', {'article': loop.index, 'id': article } ) }}"><h3> {{ new.title|raw }}</h3></a>
                            <hr>
                            {% if description %}
                                <p> {{ new.description|raw  }} </p>
                                <cite> Lien : <a href=" {{ new.link }} "> {{ new.link }}</a></cite>
                            {% endif %}
                        </div>
                    </li>
                    {% set limit = limit - 1 %}
                {% endfor %}
        {% else %}
                    <li class="alert alert-secondary" role="alert" style="display: flex">
                        <div>
                            <h3> {{ flux.title|raw }}</h3>
                            <hr>
                            {% if description %}
                                <p> {{ flux.description|raw  }} </p>
                                <cite> Lien : <a href=" {{ flux.link }} "> {{ flux.link }}</a></cite>
                            {% endif %}
                        </div>
                    </li>
        {% endif %}
</ul>
<p>Date de publication : {% if flux.pubDate is defined %} {{ flux.pubDate }} {% endif %}</p>